<%= form_for(application, html: { class: "form"}) do |f| %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, class: "input-xxlarge" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :github_url, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :github_url, class: "input-xxlarge" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :description, class: "input-xxlarge" %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Save", class: "btn btn-primary" %> <%= link_to "Cancel", url_for(application), class: "btn" %>
    </div>
  </div>
<% end %>