<h3>Current Applications</h3>

<%= form_tag"/", method: :get, class: "form form-search" do %>
  <%= text_field_tag :gem, params["gem"], placeholder: "gem name (ex. rake)", class: "search-query" %>
  <%= select_tag :operator, options_for_select(@operators), class: "input-mini" %>
  <%= text_field_tag :version, params["version"], placeholder: "version", class: "search-query input-small" %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% if @applications.count > 0 %>
  <table class="table table-condensed">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Github Url</th>
      <th># of Dependencies</th>
    </thead>

    <tbody>
      <% @applications.each do |application| %>
      <tr>
        <td><%= link_to application.name, application_url(application) %></td>
        <td><%= application.description %></td>
        <td></td>
        <td><%= application.dependencies.count %>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="row">
    <div class="span12">
      <p class="muted">No applications found</p>
    </div>
  </div>
<% end %>