<h3>Applications <%= link_to raw('<i class="icon icon-plus icon-white"></i> Add'), new_application_url, class: "btn btn-small btn-success" %></h3>

<% if @applications.count > 0 %>
  <table class="table table-condensed">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Github Url</th>
      <th># of Dependencies</th>
    </thead>

    <tbody>
      <% @applications.each do |application| %>
      <tr class="<%= application.vulnerable? ? "vulnerable" : "not-vulnerable" %>">
        <td><%= link_to application.name, application_url(application) %></td>
        <td><%= application.description %></td>
        <td><% if application.github_url %><%= link_to application.github_url, application.github_url %><% end %></td>
        <td><%= application.dependency_count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="row">
    <div class="span12">
      <p class="muted">No applications found</p>
    </div>
  </div>
<% end %>