<h3>
  <%= @application.name %>
  <%= link_to "Edit", edit_application_url(@application), class: "btn btn-small btn-success" %>
  <%= form_for(@application, method: :delete, html: { style: "display: inline"}) do |f| %>
    <%= f.submit "Destroy", class: "btn btn-small btn-danger", confirm: "Are you sure you want to delete #{@application.name}?" %>
  <% end %>
</h3>
<div>
  <h3 style="display: inline">Last Updated: </h3>
  <h4 style="display: inline-block"><%= @application.updated_at %></h4>
</div>
<div>
  <h3 style="display: inline">Pulse Token: </h3>
  <h4 style="display: inline-block"><%= @application.token %></h4>
</div>

<% if @application.vulnerable? %>
<h3>Vulnerable Dependencies</h3>
<div style="margin-top: 10px">
  <table class="table table-condensed">
    <thead>
      <th>Name</th>
      <th>Version</th>
      <th>Vulnerability</th>
    </thead>

    <tbody>
      <% @application.vulnerability_assessments.vulnerable.each do |assessment| %>
      <tr class="vulnerable">
        <td>
          <%= link_to assessment.dependency.name, url_for(controller: :dependencies, action: :show, id: assessment.dependency.name) %>
        </td>
        <td>
          <%= link_to assessment.dependency.version,url_for(controller: :dependencies, action: :show, id: assessment.dependency.name, version: assessment.dependency.version) %>
        </td>
        <td>
          <%= link_to assessment.vulnerability.identifier, vulnerability_url(assessment.vulnerability) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>

<% if @application.dependencies.count > 0 %>
<h3>Dependencies</h3>
<div style="margin-top: 10px">
  <table class="table table-condensed">
    <thead>
      <th>Name</th>
      <th>Version</th>
    </thead>

    <tbody>
      <% @application.dependencies.each do |dependency| %>
      <tr class="<%= dependency.vulnerable? ? "vulnerable" : "not-vulnerable" %>">
        <td>
          <%= link_to dependency.name, url_for(controller: :dependencies, action: :show, id: dependency.name) %>
        </td>
        <td>
          <%= link_to dependency.version,url_for(controller: :dependencies, action: :show, id: dependency.name, version: dependency.version) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <%= render partial: "setup", locals: { application: @application } %>
<% end %>