<div class="row">
  <div class="span12">
    <h3>
      <%= @application.name %>
      <%= link_to "Edit", edit_application_url(@application), class: "btn btn-small btn-success" %>
      <%= form_for(@application, method: :delete, html: { style: "display: inline"}) do |f| %>
        <%= f.submit "Destroy", class: "btn btn-small btn-danger", confirm: "Are you sure you want to delete #{@application.name}?" %>
      <% end %>
    </h3>
    <div>
      <h3 style="display: inline">Last Updated: </h3>
      <h4 style="display: inline-block"><%= @application.updated_at %></h4>
    </div>
    <div>
      <h3 style="display: inline">Pulse Token: </h3>
      <h4 style="display: inline-block"><%= @application.token %></h4>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 10px">
  <div class="span12">
    <table class="table table-condensed">
      <thead>
        <th>Name</th>
        <th>Version</th>
        <th>Vulnerable?</th>
      </thead>

      <tbody>
        <% @application.dependencies.each do |dependency| %>
        <tr>
          <td>
            <%= link_to dependency.name, url_for(controller: :dependencies, action: :show, id: dependency.name) %>
          </td>
          <td>
            <%= link_to dependency.version,url_for(controller: :dependencies, action: :show, id: dependency.name, version: dependency.version) %>
          </td>
          <td>
            <%= dependency.vulnerable? ? "Yes" : "No" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>