<h3>Vulnerabilities <%= link_to raw('<i class="icon icon-plus icon-white"></i> Add'), new_vulnerability_url, class: "btn btn-small btn-success" %></h3>

<% if @vulnerabilities.count > 0 %>
  <table class="table table-condensed">
    <thead>
      <th class="span4">Title</th>
      <th>Dependency Name</th>
      <th>Identifier</th>
      <th>Versions</th>
    </thead>

    <tbody>
      <% @vulnerabilities.each do |vulnerability| %>
      <tr>
        <td><%= link_to vulnerability.title, url_for(vulnerability) %></td>
        <td><%= vulnerability.dependency_name %></td>
        <td><%= link_to vulnerability.identifier, vulnerability.url %></td>
        <td><%= vulnerability.versions.join("<br />").html_safe %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="row">
    <div class="span12">
      <p class="muted">No vulnerabilities found</p>
    </div>
  </div>
<% end %>
